<!DOCTYPE html>

<head>
	    <title> Gait Analysis - Home</title>
		<style>
			#bottom {
			  position: absolute;
			  bottom: 0;
			  left: 1;
			  padding-bottom: 50px;
			}
		  </style>
				    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
				        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
					    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
					        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
						    <script src="https://requirejs.org/docs/release/2.3.5/minified/require.js"></script>
</head>

<body>
	    <div class="container mt-3">
		    <!-- (CHANGE) We have to change the href to the url of the frontend, for example if your frontend is accessible from http://127.0.0.1:5000 then we have to change it to http://127.0.0.1:5000/download -->
				<span><a href="https://f20190052-s69944sv63wrhzi8.socketxp.com/download/" style = "display :block;"><button type = "button" class = "btn btn-link ">Download</a></span>
			    <button type="button" onclick="recordVideo()" class="btn btn-info">Start</button>
			    <button type="button" class="btn btn-danger" id="stop" disabled>Stop</button>
				<button type="button" class="btn btn-danger" id="analyse" disabled>Analyse</button>
				<a id = "success"></a>
				<div id="bottom">Kindly make sure full body is visible and then start the video</div>
				        <div class="p-5">
						        <video autoplay height='480' width="640" muted></video>
							    </div>
							        </div>

</body>
	<script>
		    let shouldStop = false;
    let stopped = false;
    const videoElement = document.getElementsByTagName("video")[0];
    // const downloadLink = document.getElementById('download');
    const stopButton = document.getElementById('stop');
    const analyseButton = document.getElementById('analyse');
	const downButton = document.getElementById('download');
    function startRecord() {
	            $('.btn-info').prop('disabled', true);
	            $('#stop').prop('disabled', false);
	            $('#analyse').prop('disabled', true);
	            // $('#download').css('display', 'none')
	        }
    function stopRecord() {
	            $('.btn-info').prop('disabled', false);
	            $('#stop').prop('disabled', true);
	            $('#analyse').prop('disabled', false);
	            // $('#download').css('display', 'block')
	        }

    stopButton.addEventListener('click', function () {
	            shouldStop = true;
	        });
    
    let recordedChunks = [];
    let vid = [];
    const handleRecord = function ({stream, mimeType}) {
	            startRecord()
	            stopped = false;
	            const mediaRecorder = new MediaRecorder(stream);

	            mediaRecorder.ondataavailable = function (e) {
			                if (e.data.size > 0) {
						                recordedChunks.push(e.data);
						            }

			                if (shouldStop === true && stopped === false) {
						                mediaRecorder.stop();
						                stopped = true;
						            }
			            };

	            mediaRecorder.onstop = function () {
			                const blob = new Blob(recordedChunks, {
						                type: 'video/mp4'
						            });
			                vid = recordedChunks
			                recordedChunks = []
			                // const filename = window.prompt('Enter file name');
			                // downloadLink.href = URL.createObjectURL(blob);
			                // downloadLink.download = `${filename || 'recording'}.mp4`;
			                stopRecord();
			                videoElement.srcObject = null;
			            };

	            mediaRecorder.start(200);
	        };
    
    
   analyseButton.addEventListener('click', function () {
			   document.getElementById('success').innerHTML = "Video is uploaded for analysis, kindly wait";
	           const blob = new Blob(vid, {
			               type: 'video/mp4'
			           });
	           vid =[]
			   fetch('https://f20190052-s69944sv63wrhzi8.socketxp.com/success', {   <!-- (CHANGE) same as href but with /success in the end instead of /download -->
          			method: 'POST',
					mode :"no-cors",
					  headers: {
						'Content-Type': 'video/mp4',
						'Access-Control-Allow-Origin' : '*',
						},
         			body: blob
				}).then(response =>{
						document.getElementById('success').innerHTML = "Video Available for Download";
				}).then(response=>console.log(response));

});

// downButton.addEventListener('click',function()
// {
// 	fetch('https://f20190052-wkdtqwi5afatwbr4.socketxp.com/download/', { method: 'get', mode: 'no-cors' })
//     .then((response)=> {
// 	  const url = window.URL.createObjectURL(new Blob([response.data]));
// 	  const link = document.createElement('a');
// 	  link.href = url;
// 	  link.setAttribute('download', 'final.mp4');
// 	  document.body.appendChild(link);
// 	  link.click();
//     });
// });
    async function recordVideo() {
	            const mimeType = 'video/mp4';
	            shouldStop = false;
	            const constraints = {
			                audio: {
						                "echoCancellation": true
						            },
			                video: {
						                "width": {
									                    "min": 640,
									                    "max": 1024
									                },
						                "height": {
									                    "min": 480,
									                    "max": 768
									                }
						            }
			            };
	            const stream = await navigator.mediaDevices.getUserMedia(constraints);



        videoElement.srcObject = stream;
	            handleRecord({stream, mimeType})
	        }

	</script>

	</html>
